<div class="" ng-controller='HomeController as vm'>
  <div class="" id="aboutBody">
    <h1 class="text-center" style="color:#000;font-size:5em;background-color:rgba(255,255,255,0.8)">Karen Markle</h1>
    <div class="aboutWrap">
      <div class="container">
        <div class="">
          <h3 style=""></h3>
          <img id='homePic'  class='img-responsive' src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAPAAAAAJDJmMjkwN2FmLTEzN2YtNDFiOC05NGEzLTMyY2I0ZjJkNGI1Nw.jpg" alt="placeholder img" />
        </div>
        <div class="text-center about" >
          <h2>about section</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
          <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
        </div>
      </div>

    </div>
  </div>
</div>
