<div ng-controller="HomeController as vm" class="text-center">
	<div id='svcBody' class="container">

		<div id='homeHead' class="row">
			<div class="col-md-12">
        <h1>Services</h1>
				<!-- <h1 id='title'>{{vm.title}}</h1>
				<h3 id='title-tag'><span>R</span>efine <span>R</span>enew <span>R</span>einvigorate</h3> -->
			</div>
		</div><!--end homeHead row-->

		<div id='homeContent' class="row">
			<div class="col-md-12">
				<h4>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</h4>
			</div>
		</div><!--end homeContent row-->

		<div class="row" id="svcBox-wrap">
			<div class=" svcBox">

			</div>
			<div class=" svcBox">

			</div>
			<div class=" svcBox">

			</div>
			<div class=" svcBox">

			</div>
		</div>

		<div id='homeFoot' class="row">
			<div class="col-md-12">

			</div>
		</div><!--end homeFoot row-->

	</div><!--end homeBody container-->

</div><!--end controller-->
