<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>WRITING RENOVATIONS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap -->
  	<link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css'>
    <!-- Bootstrap Font: Awesome -->
  	<link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>
		<!-- Bootstrap Theme -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="/css/site.css">
	</head>
	<body>
		<ui-view></ui-view>
		<!-- Ext Libs -->
		<!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
		<!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular.min.js"></script>
		<!-- Angular-UI-Router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
		<!-- Global Src -->
		<script src="/javascript/app.js"></script>
		<!-- Factories -->
		<script src="/javascript/services/HomeFactory.js"></script>
		<!-- Controllers -->
		<script src="/javascript/controllers/HomeController.js"></script>
	</body>
</html>
